<section class="oe_container">
     <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Leave Approval Notification</h2>
        <h3 class="oe_slogan">It Gives notification e-mail to employee</h3>
         <h4 class="oe_slogan">Author : Cybrosys Techno Solutions , www.cybrosys.com</h4>
         <div>
            <h3>Major Features</h3>
            <ul>
                <li style="list-style:none !important;"><span style="color:green;">&#9745</span>Instant Notification to employee on Leave approval</li>
                <li style="list-style:none !important;"><span style="color:green;"> &#9745</span>Instant Notification to employee on Leave rejection</li>
            </ul>
        </div>
    </div>

    <div class="oe_row oe_spaced oe_dark">
        <h2 class="oe_slogan">E-mail Notification</h2>
        <div class="oe_span12">
            <p class='oe_mt32'>
               This module will send a notification mail on approval of employee leave request
                <br/>Mail contains:<br/>  * No. of days leave for approved.<br/>  * Date of leaves approved.<br/>
            </p>
            <div class="oe_centeralign oe_websiteonly">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Leave Request To Approve</h4>
        <div class="oe_span12">
            <p class='oe_mt32'>
                &#x261B;On clicking this Approve button E-mail is send to the employee<br>
            </p>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="leave_request.png">
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced oe_dark">
        <h4 class="oe_slogan">Notification E-Mail</h4>
        <div class="oe_span12">
            <p class='oe_mt32'>
                &#x261B;Received E-mail regarding the approved leave<br>
            </p>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="mail_inbox.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan">Need Any Help?</h2>
    <div class="oe_slogan">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="http://www.cybrosys.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/odoo-customization-and-installation/"><i
            class="fa fa-check-square"></i> Request Customization </a>
    </div>
    <img src="logo-juke.jpg" style="width: 190px; margin-bottom: 20px;" class="center-block">
</section>





